@import '~bulma/sass/utilities/_all';
@import '~bulma/sass/base/_all';
@import '~bulma/sass/grid/columns';
@import '~bulma/sass/elements/tag';
@import '~bulma/sass/components/pagination';

body {
  -webkit-tap-highlight-color: rgba(0,0,0,.05);
}

.colLeft {
  min-height: 100vh;
}

.colRight {
  min-height: 100vh;
  color: #777;
  background: #f3f3f3;
  @include mobile {
    min-height: unset;
  }
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}